{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Comic Kollector</h1>
    <p class="lead">Basic foundation to build collectables website, starting with a Comic Form and ability to add data directly to the admin site </p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use the Comic Inputs tab to start adding your comics.
            Add reference data for drop downs - my collection is focused on a few titles so I've hardcoded these options.
            Create new models and tabs for other types of collectables.

        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
